<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52918572265-at6ifjalctkg7a9i46mg1e170037c3q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52918572265-at6ifjalctkg7a9i46mg1e170037c3q3</string>
	<key>API_KEY</key>
	<string>AIzaSyCursb72_VFtfhQ4N9H0EVrKxerWii-3_k</string>
	<key>GCM_SENDER_ID</key>
	<string>52918572265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.rokstedy.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-717e3</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-717e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52918572265:ios:f3eb2bc4c5d54c93f74c78</string>
</dict>
</plist>